@charset "utf-8";

.log_section {}
.log_section .article_wrap {}
.log_section .top_thumb {padding-bottom: 60px; text-align: center;}
.log_section .top_thumb .log-slide {height: 400px; }
.log_section .top_thumb .log-slide .photo {width: 100%;}
.log_section .top_thumb .log-slide .photo img {width: 100%;}

.top_thumb .log-slide .swiper-pagination-bullet {width: 30px; height: 4px; border-radius: 0; background: #fff; opacity: 1;}
.top_thumb .log-slide .swiper-pagination-bullet-active {background: #0078ff;}

.log_section .top_thumb p {margin-top: 50px; font-size: 14px; line-height: 24px; font-weight: 400; color: #555;}

.log_section .log_cont {}
.log_section .type2 {background: #f6f6f6;}







